.teas-type-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
    overflow: hidden;
    padding-left: 0;
}

.teas-type-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 142px;
    border: 1px solid #f8f2ed;
    border-radius: 8px;
    height: auto;
    text-align: center;
}

.teas-type-list li img {
    height: auto;
    width: 100%;
}

.teas-type-list li span {
    height: 48px;
    width: auto;
}

.best-sellers {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 80px;
}
.best-sellers h2 {
    font-size: 24px;
    color: #442814;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.best-sellers .teas-type-list {
    list-style: none;
    padding: 10px 0;
    margin-top: -20px;
}
.best-sellers .view-all-link {
    text-decoration: none;
    color: #82462f;
    font-size: 14px;
}
.best-sellers .teas-type-list li {
    padding: 0;
    border: 2px solid #f5eee9;
    width: 14%;
    gap: 0;
}
.best-sellers .teas-type-list div {
    background-color: #fdf8f3;
    width: 100%;
    padding: 12px 8px 8px;
}
.best-sellers .teas-type-list span {
    height: 40px;
    display: block;
    font-size: 16px;
    text-align: left;
    color: #35302e;
    font-weight: bold;
}
.best-sellers .teas-type-list strong {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    overflow: hidden;
    font-size: 20px;
}