body{
    margin:0; padding:0; 
    font-family:Arial,sans-serif;
    color:#3a2b20
}

* {
    box-sizing:border-box;
    border:0;
    margin:0;
}
.hero{padding:80px;text-align:center}
button{padding:12px 24px;border:none;background:#5b3b2a;color:#fff;border-radius:8px}

.social-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4px;
    margin: 16px 0 8px;
}

.social-link {
    display: inline-block;
    width: 80px;
    height: 80px;
    background-image: url('../images/icon3.png');
    background-repeat: no-repeat;
    background-size: 1536px 1024px;
    transform: scale(0.5);
}

.social-link:hover {
    transform: scale(0.7);
}

.social-link.instagram {
    background-position: -500px -380px;
}

.social-link.facebook {
    background-position: -1100px -380px;
}

.social-link.tiktok {
    background-position: -650px -380px;
}

.social-link.whatsapp {
    background-position: -800px -380px;
}

.banner-image {
    width: 100%;
}
.teas-type-list {
    margin-top: 20px;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}
.teas-type-list li {
    font-size: 18px;
    color: #5b3b2a;
    width: 15%;
    height: 120px;
    background-color: #f9efe7;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    width: 580px;
    margin: 50px auto;
}

form label {
    width: 100%;
    line-height: 40px;
    display: flex;
    justify-content: end;
}
form input,
form textarea {
    line-height: 40px;
    border: 1px solid #5b3b2a;
    border-radius: 4px;
    margin-left: 16px;
    width: 400px;
    padding-left: 8px;
}
form .required {
    color: red;
    margin-left: 4px;
}
.submit-btn {
    padding: 16px 48px;
    font-size: 16px;
}